

@import "../font/DanaLibraryHand_v1.3__webfontkit/stylesheet.css";
/*
	dana_library_hand
    in regular, bold, italic, bolditalic
*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

body {
    background-color: rgb(255, 255, 255);
    background-position: center;
    background-attachment: fixed;
    background-image: linear-gradient(
        to bottom,
        hsla(122, 100%, 60%, 1),
        hsla(240, 90%, 50%, 1)
    );

    font-family: "dana_library_hand",  sans-serif;
    font-size:  16px;

    min-height: 450px;
    min-width: 350px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-content: stretch;
    align-items: stretch;
}

/* check media rules at end of document */

header, section, footer {
    order: 0;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

header h1 {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;

    background-image: linear-gradient(
        to right,
        hsl(  0, 100%, 50%),
        hsl( 60, 100%, 50%),
        hsl(120, 100%, 50%),
        hsl(180, 100%, 50%),
        hsl(240, 100%, 50%),
        hsl(300, 100%, 50%),
        hsl(360, 100%, 50%)
    );
    padding: 0.5em;
    border-radius: 0.5em;
    margin: 0.5em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.6);
}


section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}

.stretch {
    flex-grow: 1 !important;
}

section > * {
    order: 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    align-self: auto;
}

footer {
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0) 0.1em,
        rgba(0, 0, 0, 0.8) 1.5em,
        rgba(0, 0, 0, 1)
    );
    color: white;
    /*height: 1.5em;*/
    margin-top: 0.5em;
    padding: 1.1em 1em 0.2em;

    font-size: 0.8em;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

footer *:link, footer *:visited {
    color: white;
}

footer > a {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}


noscript {
    position: fixed;
    display: block;
    /*width: 200px;
    width: 100vw;
    height: 200px;
    height: 100vh;*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-color: rgb(255, 150, 0);
    border-style: dotted;
    border-width: 1em;
    text-shadow:	        0 0 2px rgb(000, 000, 000),
                            0 0 3px rgb(000, 000, 000),
                            0 0 6px rgb(000, 000, 000);
    font-size: 2em;
    color: rgb(255, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
    background: linear-gradient(to right, red , yellow);
    padding: 1em;
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* content things */
.fixed_text {
    width: 60em;
    font-family: monospace;
    font-size: 1em;
    background-color: rgb(240, 240, 240);
    /*background-color: rgba(0, 0, 0, 0.05);*/
    padding: 1em;
    margin: 0;
    border: none;
}

.fixed_text .fixed_text {
    padding: 1em 0;
}

.device_information  {
    width: 40em;
    font-family: monospace;
    font-size: 1em;
    background-color: rgb(240, 240, 240);
    /*background-color: rgba(0, 0, 0, 0.05);*/
    padding: 1em;
    margin: 0;
    border: none;
}

button {
    min-width: 18em;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* inputs */


label {
    display: block;
}

input {
    background-color: transparent;
	border: none 0;
	border-radius: 0.5em;
    box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.7), 0 0 1em rgba(0, 0, 0, 0.5);
	color: black;
    font-family: inherit;
    font-weight: 900;
    font-size: 1.5em;
}

input[type="range"] {
    width: 50vh;
    height: 2em;
    border: none 0;
    box-shadow: none;
}

input[type="number"] {
	height: 1.2em;
    width: 4em;
	padding: 0 0.5em;
}

.vertical_slider{
    min-height: 50vh;
}

/* .vertical_slider > * {
    order: 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    align-self: auto;
    position: relative;
} */

.vertical_slider_helper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;

    position: relative;
}

.vertical_slider input[type="range"] {
    order: 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    align-self: auto;

    position: relative;
    transform: rotate(-90deg);
}

/* input[type='range'] {
	-webkit-appearance: none;
	vertical-align: middle;
} */
input[type="range"]::-moz-range-track {
	-moz-appearance: none;
	border-radius: 0.5em;
	box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.7), 0 0 1em rgba(0, 0, 0, 0.5);
	background-color: transparent;
	height: 1em;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
	border-radius: 1.0em;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: inset 0 0 10px rgba(0,0,0,0.5), 0 0 10px rgba(0,0,0,0.9);
	border: 0 solid white;
	height: 4em;
	width: 2.0em;
}
input[type='range']::-moz-range-thumb {
	-moz-appearance: none;
	border-radius: 1.0em;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: inset 0 0 10px rgba(0,0,0,0.5), 0 0 10px rgba(0,0,0,0.9);
	border: 0 solid white;
	height: 4em;
	width: 2.0em;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* media rules */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* special media querry to fix sizing for Samsung Galaxy S2 */
@media screen
  and (device-width: 320px)
  and (orientation: portrait) {
    body {
      font-size:  40px;
    }
    input[type="range"] {
        width: 60vh;
    }
}
